*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-image:  url(tabletb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 900px;
    margin: 25% auto;
    width: 25%;
    padding-bottom: 8%;
}
input{
    width: 100%;
    padding: 6px;
}
button{
    width: 100%;
    padding: 6px;
    padding-bottom: 10px;
    font-size: 15px;
    background-color: transparent;
    border: solid 1px white;
    color: aliceblue;
    border-radius: 7px;
    margin: 3px auto;
}
button:hover{
    background-color: rgb(105, 101, 101);
}
button:active{
    background-color: beige;
}
label{
    font-size: 22px;
    color: aliceblue;
}
h1{
    font-size: 37px;
    color: aliceblue;
    padding-bottom: 20px;
}
p{
    padding-bottom: 80px;
    font-size: 17px;
    color: aliceblue;
}
table, tr, td{
    border: 1px solid white;
    margin-right: auto;
    margin-left: auto;
    color: aliceblue;
    margin-bottom: 10px;
    border-radius: 3px;
}
tr{
    font-size: large;
}
td{
    padding-left: 6px;
    padding-right: 6px;
}

